@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Inter&family=Poppins:wght@300;400;500;600&display=swap');
:root{
    --color-cream: #C5A166;
    --color-green: #18200F;
    --color-white: #FFFFFF;
    --color-blue: #101A24;

    --font-big: 'David Libre', sans-serif;
    --font-medium: 'Inter', sans-serif
}
*{
    margin: 0;
    padding: 0;
    /* list-style: none; */
    /* text-decoration: none; */
}
body{
    background-color: var(--color-green);
    overflow-x: hidden;
}
/* Home Page */
h1{
    font-family: var(--font-big);
    color: var(--color-cream);
}
.img-plantCulture{
    height: 124px;
    width: 241px;
    padding: 10px;
    position: absolute;
    float: left;
}
.navbar{
    font-family: var(--font-medium);
    position: absolute;
    top: 70px;
    left: 400px;
}
.navbar ul li{
    display: inline;
    padding: 0;
    margin: 0;
}
.navbar ul li a{
    color: var(--color-white);
    padding: 14px 30px;
    font-size: 20px;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: var(--color-cream);
    transition: 0.5s;
}
.btn-bookATable{
    font-family: var(--font-big);
    color: var(--color-green);
    background-color: var(--color-cream);
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    border: none;
    border-radius: 20px 5px 20px 5px;
    font-size: 20px;
    float: right;
    margin: 50px;
}
.btn-bookATable:hover{
    color: var(--color-white);
    background-color: var(--color-blue);
    transition: 0.5s;
}
.img-flow{
    position: relative;
    top: 150px;
    left: 100px;
}
.text-title{
    color: var(--color-white);
    font-size: 60px;
    position: absolute;
    top: 250px;
    left: 150px;
}
.pre-title{
    font-family: var(--font-big);
    line-height: 72px;
}
.pre-paragraf{
    color: var(--color-white);
    font-family: var(--font-medium);
    line-height: 25px;
    position: absolute;
    top: 450px;
    left: 160px;
}
.btn-menu{
    font-family: var(--font-big);
    color: var(--color-white);
    background-color: var(--color-blue);
    cursor: pointer;
    padding: 20px 50px 20px 50px;
    border: none;
    border-radius: 20px 5px 20px 5px;
    font-size: 20px;
    position: absolute;
    top: 560px;
    left: 160px;
}
.btn-menu:hover{
    color: var(--color-blue);
    background-color: var(--color-cream);
    transition: 0.5s;
}
.btn-2{
    position: absolute;
    top: 510px;
    left: 300px;
}
.icon{
    width: 40px;
    padding: 7px;
    position: relative;
    top: -38px;
    left: 160px;
    cursor: pointer;
}
.img-vector1{
    position: absolute;
    top: 130px;
    left: 600px;
}
.img-vector2{
    position: absolute;
    top: 130px;
    left: 1100px;
}
.img-layer{
    width: 550px;
    position: absolute;
    top: 200px;
    left: 800px;
}
.img-vector{
    position: absolute;
    top: 500px;
    left: 1200px;
}
.img-rectangle, .img-rectangle1{
    position: relative;
    left: 700px;
    top: 200px;
}
.text-titleOur{
    position: relative;
    text-align: center;
    left: -10px;
}
.pre-paragrafLorem{
    position: relative;
    text-align: center;
    top: 290px;
    left: -10px;
}
.img-vector21{
    position: relative;
    left: 150px;
    top: 40px;
}
.img-vectorr{
    position: relative;
    left: 750px;
}
.img-food{
    position: relative;
    left: 170px;
    top: -300px;
    width: 200px;
}
.icon-price{
    width: 50px;
    position: relative;
    top: -400px;
    left: 120px;
}
.card-bg{
    width: 265px;
    height: 309px;
    border-radius: 60px 10px 60px 10px;
    position: relative;
    left: 130px;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.178);
    border: 4px solid var(--color-white);
}
.text-titleFood{
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: 20px;
    position: relative;
    top: -260px;
    left: 150px;
}
.pre-paragrafLorem1{
    position: relative;
    top: -230px;
    left: -490px;
    text-align: center;
}
.card1{
    position: absolute;
    left: 340px;
    top: 1270px;
}
.pre-paragrafLorem111{
    z-index: 9999;
    position: relative;
    text-align: center;
    top: -190px;
    left: 130px;
}
.text-titleFoodShrimp{
    top: -220px;
}
.price1{
    top: -360px;
}
.card2{
    position: relative;
    top: -600px;
    left: 670px;
}
.text-titleFoodTofu{
    left: 230px;
    top: -280px;
}
.pre-paragrafLorem2{
    top: 290px;
    left: 150px;
    text-align: center;
}
.price2{
    top: -420px;
}
.card3{
    position: relative;
    top: -1150px;
    left: 1000px;
}
.pre-paragrafLorem3{
    text-align: center;
    top: 290px;
    left: 150px;
}
.text-titleFoodShrimp1{
    top: -290px;
}
.price3{
    top: -420px;
    left: 120px;
}
.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    transition: 0.2s;
  }
.card1:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    transition: 0.2s;
  }
.card2:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    transition: 0.2s;
  }
.card3:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    transition: 0.2s;
  }
/* .card-bg:hover{
    background-color: var(--color-cream);
} */
  
  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
.img-backdrop{
    position: relative;
    top: -1000px;
    left: 100px;
}
.img-vector22{
    position: relative;
    top: -1250px;
    left: 150px;
    width: 230px;
}
.text-titleWelcome{
    font-family: var(--font-big);
    top: 2040px;
    left: 800px;
}
.pre-paragrafLorem4{
    font-family: var(--font-medium);
    color: var(--color-cream);
    top: 2200px;
    left: 800px;
}
.btn-menu1{
    color: var(--color-white);
    top: 2300px;
    left: 800px;
}
.btn-3{
    color: var(--color-blue);
    position: relative;
    top: -1165px;
    left: -300px;
}
.img-garlic{
    position: absolute;
    top: 2300px;
    left: 650px;
}
.img-garlic1{
    position: absolute;
    top: 2400px;
    left: 800px;
}
.img-garlicc{
    position: relative;
    top: -600px;
    left: -50px;
}
.img-rectangle1{
    position: relative;
    top: -700px;
    left: 300px;
}
.text-titleOur1{
    position: relative;
    top: -680px;
    left: 230px;
}
.pre-paragrafLorem5{
    color: var(--color-cream);
    font-family: var(--font-medium);
    position: relative;
    top: -650px;
    left: 230px;
    line-height: 30px;
}
.btn-menu2{
    color: var(--color-white);
    position: relative;
    top: -620px;
    left: 230px;
}
.btn-4{
    position: relative;
    top: -670px;
    left: -840px;
}
.img-flow1{
    position: absolute;
    top: 2500px;
    left: 800px;
}
.bg1{
    position: absolute;
    top: 2700px;
    left: 850px;
}
.img-chef{
    position: absolute;
    top: 2350px;
    left: 800px;
    width: 700px;
}
.section-bg{
    background-color: var(--color-white);
    padding: 220px;
    position: relative;
    top: -300px;
}
.text-titleOur2{
    color: var(--color-blue);
    position: relative;
    top: -100px;
    left: 300px;
}
.pre-paragrafLorem6{
    color: grey;
    font-family: var(--font-medium);
    text-align: center;
    position: relative;
    top: -80px;
}
.card-bg1{
    background-color: var(--color-white);
    box-shadow: 0px 10px 20px 0px grey;
    width: 750px;
    height: 500px;
    position: relative;
    left: 180px;
    border-radius: 100px 30px 100px 30px;
}
.img-profile{
    border-radius: 60px;
    position: relative;
    top: -550px;
    left: 500px;
    width: 130px;
}
.icon-star{
    position: relative;
    top: -500px;
    left: 355px;
    padding: 5px;
}
.pre-paragrafLorem7{
    color: grey;
    font-family: var(--font-medium);
    text-align: center;
    font-size: 20px;
    position: relative;
    top: -450px;
}
.text-titleAma{
    font-family: var(--font-medium);
    color: var(--color-blue);
    position: relative;
    top: -400px;
    font-size: 20px;
    text-align: center;
}
.text-titleCeo{
    font-family: var(--font-medium);
    color: grey;
    position: relative;
    top: -390px;
    text-align: center;
}
.img-cta{
    position: relative;
    top: -550px;
    left: 200px;
    border-radius: 50px;
}
.text-titleGet{
    top: 4620px;
    left: 520px;
    font-size: 40px;
    text-align: center;
    font-family: var(--font-big);
}
.pre-title1{
    font-family: var(--font-big);
}
.input-email{
    padding: 20px;
    padding-right: 350px;
    border: none;
    border-radius: 20px;
    text-align: left;
    color: grey;
    position: relative;
    top: -700px;
    left: 500px;
}
.btn-sub{
    padding: 10px 30px;
    border-radius: 15px;
    background-color: var(--color-cream);
    color: var(--color-white);
    position: relative;
    top: -700px;
    left: 360px;
    border: none;
    cursor: pointer;
}
.img-plantCulture1{
    position: relative;
    top: -500px;
    left: 200px;
}
.pre-paragrafLorem8{
    font-family: var(--font-medium);
    color: var(--color-cream);
    position: relative;
    top: -460px;
    left: 200px;
}
.link-lear{
    color: var(--color-cream);
}
.text-foot{
    color: var(--color-white);
    font-family: var(--font-medium);
    font-size: 15px;
}
.text-open{
    position: relative;
    top: -400px;
    left: 200px;
}
.pre-paragrafDay{
    color: var(--color-cream);
    font-family: var(--font-medium);
    position: relative;
    top: -370px;
    left: 200px;
}
.pre-paragrafDay1{
    color: var(--color-cream);
    font-family: var(--font-medium);
    position: relative;
    top: -410px;
    left: 400px;
}
.pre-paragrafDay2{
    color: var(--color-cream);
    font-family: var(--font-medium);
    position: relative;
    top: -450px;
    left: 600px;
}
.text-navi{
    position: relative;
    top: -700px;
    left: 700px;
}
.li-foot{
    color: var(--color-cream);
    font-family: var(--font-medium);
    line-height: 40px;
    position: relative;
    top: -690px;
    left: 700px;
    list-style-type: none;
}
.text-dis{
    position: relative;
    top: -880px;
    left: 950px;
}
.foot-li{
    position: relative;
    top: -870px;
    left: 950px;
}
.text-foll{
    position: relative;
    top: -1058px;
    left: 1150px;
}
.icon-foot{
    top: -1040px;
    left: 1140px;
}
.pre-paragraf-foot{
    font-family: var(--font-medium);
    color: var(--color-cream);
    position: relative;
    top: -800px;
    left: 1100px;
}
.img-flow2{
    position: relative;
    top: -1300px;
    left: 450px;
}
/* ============================================= MENU ===================================================== */
.text-titlePrice1{
    position: relative;
    top: 250px;
    left: 470px;
}
.pre-paragrafLorem9{
    position: relative;
    top: 300px;
    left: -20px;
    text-align: center;
    color: grey;
}
.img-vector23{
    position: relative;
    top: 20px;
    left: 150px;
}
.img-leaf{
    position: relative;
    top: 70px;
    left: 800px;
    width: 300px;
}
.img-poster{
    position: absolute;
    top: 1500px;
    left: 300px;
    width: 900px;
}
.img-leaf1{
    position: absolute;
    top: 2500px;
    left: 150px;
    width: 300px;
}
.img-leaf2{
    position: absolute;
    top: 3300px;
    left: 1100px;
    width: 300px;
}
.img-vector24{
    position: relative;
    top: 2100px;
    left: -600px;
    width: 200px;
}
.img-poster1{
    position: absolute;
    top: 3000px;
    left: 300px;
    width: 900px;
}
.pre-paragrafLorem10{
    font-family: var(--font-medium);
    color: grey;
    text-align: center;
    position: relative;
    top: 2850px;
}
.btn-5{
    position: relative;
    top: 2900px;
    left: -600px;
}
.footer-menu{
    position: relative;
    top: 3700px;
}
.img-garlic2{
    position: absolute;
    top: -600px;
    left: 50px;
    width: 150px;
}
.img-leaf3{
    position: absolute;
    top: -700px;
    left: 1200px;
}
/* ========================================= VIP ROOM ===================================================== */
.sec-bg{
    position: relative;
    top: -5px;
    /* gap: -4000em; */
}
.img-rectangle2{
    position: relative;
    top: -100px;
    left: 500px;
}
.text-titlePrice{
    color: var(--color-blue);
    position: relative;
    top: -80px;
    left: 290px;
}
.pre-paragrafLorem11{
    color: grey;
    text-align: center;
    position: relative; 
    top: -50px;
    left: -10px;   
}
.img-garlic3{
    width: 150px;
    position: relative;
    top: -300px;
    left: 800px;
}
.img-vector25{
    position: absolute;
    top: 350px;
    left: 1100px;
}
.card-vip{
    display: inline-flex;
    padding: 10px 101px 18px 108px;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 15px;
    background: #DEB572; 
    position: relative;
    left: -300px;   
}
.text-titleUp{
    color: var(--color-white);
    font-family: var(--font-medium);
}
.text-minimum{
    font-family: var(--font-medium);
    color: var(--color-white);
    font-size: 20px;
}
.pre-lunch{
    color: var(--color-white);
    font-family: var(--font-medium);
    text-align: center;
    font-size: 20px;
    line-height: 29px;
}
.vip1{
    position: relative;
    left: -340px;
}
.vip3{
    position: relative;
    top: -270px;
    left: 800px;
}
.img-garlic4{
    position: relative;
    left: 100px;
}
.footer-vip{
    position: relative;
    top: 800px;
}
.img-vector26{
    position: absolute;
    top: -700px;
    left: 300px;
    width: 200px;
}
.img-flow4{
    position: absolute;
    top: -600px;
    left: 450px;
}
/*================================================= ABOUT ======================================================*/
.text-partner{
    position: relative;
    top: 250px;
    text-align: center;
    font-family: var(--font-big);
    color: var(--color-white);
    font-size: 60px;
}
.rectangle{
    position: relative;
    top: 200px;
}
.img-rectangle-1{
    position: relative;
    left: 60px;
}
.text-pt{
    color: var(--color-white);
    position: relative;
    top: 20px;
}
.div-rectangle1{
    position: relative;
    left: 200px;
    top: 340px;
}
.div-rectangle2{
    position: relative;
    top: 200px;
    left: 640px;
}
.div-rectangle3{
    position: relative;
    top: 55px;
    left: 1100px;
}
.text-titleAbout{
    position: relative;
    left: 0px;
    text-align: center;
}
.pre-paragrafPlant1{
    font-family: var(--font-medium);
    color: var(--color-white);
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 300px;
}
.pre-paragrafPlant2{
    font-family: var(--font-medium);
    color: var(--color-white);
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 400px;
}
.pre-paragrafPlant3{
    font-family: var(--font-medium);
    color: var(--color-white);
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 500px;
}
.footer-about{
    position: relative;
    top: 1300px;
}
/* ============================================ CONTACT =========================================================*/
.text-titleContact{
    position: absolute;
    top: 450px;
    left: 600px;
    font-size: 64px;
    font-family: var(--font-medium);
}
.div-contact1{
    position: relative;
    top: 310px;
    left: 100px;
}
.div-contact2{
    position: relative;
    top: 250px;
    left: 450px;
}
.div-contact3{
    position: relative;
    top: 190px;
    left: 800px;
}
.div-contact4{
    position: relative;
    top: 115px;
    left: 1150px;
}
.img-flow5{
    width: 272px;
    height: 283px;
    position: absolute;
}
.name-contact{
    color: var(--color-white);
    font-size: 36px;
    position: relative;
    top: 80px;
    left: 100px;
}
.contactPas{
    font-size: 20px;
    color: grey;
    font-family: var(--font-medium);
    position: relative;
    top: 120px;
    left: 10px;
}
.wa{
    left: 70px;
}
.noWa{
    left: 55px;
}
.ad{
    left: 80px;
}
.pre-wood{
    font-family: var(--font-medium);
    color: grey;
    text-align: center;
    position: relative;
    left: -630px;
    top: 120px;
}
.res{
    left: -45px;
}
.pre-lorem{
    color: grey;
    font-family: var(--font-medium);
    position: relative;
    top: 120px;
    left: 60px;
    font-size: 16px;
}
.maps{
    position: relative;
    top: 400px;
    width: 1540px;
    height: 707px;
}
/*============================================== RESERVATION ==================================================*/
.text-titleRese{
    position: relative;
    left: 600px;
}
.pre-paragrafLorem12{
    color: grey;
    text-align: center;
    position: relative;
    top: 50px;
    left: 0px;
}
.img-leaf4{
    position: relative;
    top: 300px;
    left: 900px;
}
.img-garlic6{
    position: relative;
    top: 1200px;
    left: 100px;
}
.message{
    background-color: var(--color-white);
    border-radius: 15px;
    display: flex;
    width: 671px;
    padding-bottom: 23px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    position: relative;
    top: 200px;
    left: 90px;
}
.msg-bg{
    background-color: var(--color-cream);
    border-radius: 15px 15px 0px 0px;
    width: 671px;
    height: 144px;
}
.img-plantCulture2{
    width: 163px;
    height: 91.402px;
    position: relative;
    top: -200px;
}
.msg-input{
    width: 576px;
    height: 75px;
    position: relative;
    top: -200px;
}
.pre-lorem1{
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-big);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 37px;
    position: relative;
    top: -700px;
    left: 380px;
}
.text-titleAdRes{
    font-family: var(--font-big);
    color: var(--color-white);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 180.556% */
    position: relative;
    top: -600px;
    left: 400px;
}
.pre-wood1{
    color: grey;
    text-align: center;
    font-family: var(--font-medium);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 145% */
    position: relative;
    top: -570px;
    left: 400px;
}
.text-titleRes1{
    color: var(--color-white);
    text-align: center;
    font-family: var(--font-big);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 65px; /* 180.556% */
    text-transform: capitalize;
    position: relative;
    top: -500px;
    left: 410px;
}
.lorem1{
    top: -470px;
    left: 1080px;
    font-size: 20px;
}
.wa1{
    top: -400px;
}
.noWa1{
    color: grey;
    font-family: var(--font-medium);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 145% */
    position: relative;
    top: -390px;
    left: 1090px;
}
.img-garlic5{
    position: relative;
    top: -500px;
}
.footer-reservation{
    position: relative;
    top: 500px;
}